<h1>This pod uses a dynamic user/password combination generated through Hashicorp Vault</h1>
<span>User: <%= CREDS['data']['username'] %></span>
<span>Password: <%= CREDS['data']['password'] %></span>
